<div class="page-header">
    <a ui-sref="home">Home</a>
    <h3>
        <span>{{beer.name}}</span>
    </h3>
    <form ng-submit="addReview()">
        <h3>Add a review</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="text" ng-model="review"></input>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <!-- render beers here -->
    <div class="row reviews-list">
        <div class="review" ng-repeat="review in reviews track by $index">
            {{review.text}}
            <a ng-click="removeReview($index)">Remove</a>
        </div>
    </div>
</div>