<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">BeerList</h1>
        <div class="page-header">
        </div>
        <!-- render beers here -->
        <div class="row beers-list">
            <div class="beer" ng-repeat="beer in beers">
                <img class="beer-image" ng-src="{{beer.image_url}}">
                {{beer.name}} {{beer.style}} {{beer.abv}}
                <a ui-sref="beer({id: beer._id, beerParam: beer})">Reviews</a>
                <a ng-click="removeBeer()">Remove</a>
            </div>
        </div>
        <form ng-submit="addBeer()">
            <h3>Add a new beer</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Beer Name" ng-model="name"></input>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Style" ng-model="style"></input>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="ABV" ng-model="abv"></input>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Image URL" ng-model="image"></input>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>